.sidebar-layout {
  display: flex;
  align-items: flex-start;

  aside {
    width: 264px;
    min-height: 100vh;
    background-color: #fff;
    margin-top: -85px;
  }

  .content {
    padding: 25px;
  }
}
